.underlineTextField.Mui-focused {
 
    border-bottom: 0.15rem solid #825EE4!important;
}

.underlineTextField:first-child {
    padding-left: 2px;
    border:0;
    box-shadow: 0;
}

.MuiDataGrid-row{

    border: 0 !important;
    max-height: 104px !important;
    margin: 0px 0;
    padding: 10px 0 !important;
}

.MuiDataGrid-row:hover{
    background-color: #825ee424 !important;
}

.Mui-focusVisible {

    border: 1px!important;

}


.MuiDataGrid-editInputCell, .MuiDataGrid-cell:focus,.MuiDataGrid-cell--editing:focus-within,.MuiDataGrid-cell--editing {
    outline: none!important;
    border-left: 0!important;
    border-bottom: 4px solid #825EE4!important;
    border-right: 0!important;
    offset-position: 0!important;
    border-top: 0!important;
    border-radius: 0!important;
    height: 20px!important;
    box-shadow: none!important;
    background-color: transparent !important;

}

.MuiDataGrid-cell {
    min-height: 32px!important;
    max-height: 22px!important;

}

.MuiDataGrid-columnHeader.MuiDataGrid-withBorderColor, .MuiDataGrid-withBorderColor{
    border-width: 0!important;
    outline:none!important;
    offset: 0;

}

.MuiDataGrid-root .MuiDataGrid-columnHeader, .MuiDataGrid-root .MuiDataGrid-cell{
    padding: 0 5px!important;
    margin: 0 5px!important;
}


.MuiDataGrid-editInputCell, .MuiInputBase-input:hover
{
    outline:none!important;
    padding: 16px!important;
    border:0!important;
    outline-offset: 0!important;
    box-shadow: none!important;
    background-color: #825ee424 !important;
}

.grey-underline {

}
