.App {
  text-align: center;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5em;
}

a {
  text-decoration: none;
  color: #2b53a3;
}

.App-link {
  color: #61dafb;
}

.wrapper {
  float: left;
}
.wrapper > div {
  margin: .1em;
}
.css-cveggr-MuiListItemIcon-root {
  color: #595a5c!important
}

.cardbox {
  float: left;
  margin: 5px 25px;
  height: 800px;
  overflow: auto;
  background-color: white;
}
.update {
  margin: 50px 0;
}

.css-10hburv-MuiTypography-root .bold {
  font-weight: bold;
}

.MuiButtonBase-root {
  margin: 15px 0!important;
}

.box {
  background-color: white;
}

ul {
  list-style: none;
}

p, ul li {
  color: #1b1e21!important;
}