body {
  background-color: #0c0c0c;
  
}


@media only screen and (min-width: 1024px) {
  section {
    padding: 0 10px;
  }
  
}

h1 {
  width: 100%;
}

h2 {
  width: 100%;
}

h3 {
  width: 100%;
}

.MuiAvatar-colorDefault, .MuiAvatar-root {
  -webkit-box-shadow: 7px 3px 10px -3px rgba(0,0,0,0.49);
-moz-box-shadow: 7px 3px 10px -3px rgba(0,0,0,0.49);
box-shadow: 7px 3px 10px -3px rgba(0,0,0,0.49);

}

h4 {
  width: 100%;
}

h5 {
  width: 100%;
}

h6 {
  width: 100%;
}

.bolder {
  font-weight: bolder;
}

.update {
  margin: 50px 0;
}

a,
a:visited,
link {
  text-decoration: none !important;
  color: #FFF;
}

ul {
  list-style: none;
}

.nubank {
  background-color: #9B02D5 !important;
  color: #fff !important;
}

/* Tags */

.rico {
  background-color: #FF5200;
  color: #9B02D5;
}

.gastosVariaveis {
  background-color: #c739a2;
  color: #9B02D5;
}

.gastosFixos {
  background-color: #c7a839;
  color: #9B02D5;
}

.hide {
  display: none !important;
}

.MuiAvatarGroup-avatar {
  background-color: #50D1B2!important;
  color: #fafafa!important;
  font-weight: bolder!important;
  font-size: 0.9rem !important;
  border: 2px solid #1f2128 !important;
}