
  .update {
    margin: 50px 0;
  }
  
  .css-10hburv-MuiTypography-root .bold {
    font-weight: bold;
  }
  
  .MuiButtonBase-root {
    margin: 15px 0!important;
  }

  
  ul {
    list-style: none;
  }
  
  .p1 {
    font-size: 16px;
  }
  
  .p2 {
    font-size: 14px;
  }
  
  .MuiBox-root {
   margin-bottom: 15px;
  }
  
  .nubank {
    background-color: #9B02D5!important;
    color: #fff!important;
  }
  
  .rico {
    background-color: #FF5200;
    color: #9B02D5;
  }
  
  .gastosVariaveis {
    background-color: #c739a2;
    color: #9B02D5;
  }
  
  .gastosFixos {
    background-color: #c7a839;
    color: #9B02D5;
  }
  
  .hide {
    display: none!important;
  }